@font-face {
  font-family: 'Orbitron';
  src: url('../src//assets/Orbitron.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gemunu';
  src: url('../src//assets/Gemunu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../src//assets/OpenSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#headerMenu{
  font-family: 'OpenSans';
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.webNameContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-top: 20px;
  padding-left: 30px;
}

.webName{
  font-family: 'Orbitron';
  font-size: 48px;
  letter-spacing: 10px;
  color: #CDB903;
  margin: 0;
  font-weight: bold;
}

.webNameSub{
  padding-left: 5px;
  font-family: 'Gemunu';
  font-size: 24px;
  letter-spacing: 42px;
  color: #CDB903;
  font-weight: bold;
  margin-top: -10px;
}

.webNameIntro{
  border-top: 1px solid #686201;
  padding-top: 10px;
  margin-top: 30px;
}

.webNameWelcome{
  font-family: 'OpenSans';
  font-size: 13px;
  color: #686201;
  margin: 0;
  font-weight: bold;
}

.webNameDescript{
  font-family: 'OpenSans';
  font-size: 13px;
  color: #686201;
  margin: 0;
  width: 500px;
}


.start{
  transform: translateX(200px);
  transition: transform 1s;
}

.finish{
  transform: translateX(-200px);
  transition: transform 1s;
}
