@font-face {
    font-family: 'InriaSans';
    src: url('../../assets/InriaSans.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

div{
    font-family: 'InriaSans';
    color: white;
    font-size: 16;
}

.menuItem{
    cursor: pointer;
}

.menuItem:hover{
    border-bottom: 2px solid white;
}